<div class="viewWrapper" id="authenticateWrapper">
	<!-- ============== -->
	<!-- LOADING SCREEN -->
	<div id="loadingScreen" data-ng-show="loading">
		<div id="loadingWrapper">
			<div>
				<img src="images/loading.gif" alt="Loading Icon" />
				<p>Loading . . .</p>
			</div>
		</div>
	</div>
	<!-- ========== -->
	<!-- LOGIN FORM -->
	<div id="loginWrapper">
		<div class="manheimLogoSprite"></div>
		<form>
			<div class="form-group">
				<input type="text" id="username" name="username" class="btnCtrl" ng-model="userInfo.username" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="btnCtrl" ng-model="userInfo.password" placeholder="Password">
			</div>
			<div class="form-group">
				<span ng-show="incorrectAuth">Please enter the correct username and password</span>
				<!--<a href ui-sref="dashboard.content" class="redBtn">Login</a>-->
				<input type="button" value="Verify Login" class="primaryBtn button" data-ng-click="verifyUser()">
				<a href ui-sref="register" class="grayLink left">Register</a>
				<a href="#" class="grayLink right">Forgot Password</a>
			</div>
		</form>
	</div>
</div>
