<!-- ============== -->
<!-- HEADER SECTION -->
<div data-ui-view="header" id="headerContainer"></div>

<!-- ================= -->
<!-- DASHBOARD SECTION -->
<div data-ng-show="$state.includes('dashboard')">
	<!-- reports in progress -->
	<div data-ui-view="progress" id="progressContainer"></div>
	<!-- main content -->
	<div class="viewWrapper" id="dashboardWrapper">
		<div class="contentWrapper">
			<div class="manheimLogoSprite"></div>
			<figure class="car">
				<img src="images/dashboard-car.png" alt="Blue Car" />
			</figure>
			<!-- new inspection path -->
			<div id="inspectionPathWrapper">
				<a href data-ng-click="startInspection('bronze')" class="bronze-inspection button">80 Point Inspection</a>
				<a href data-ng-click="startInspection('silver')" class="silver-inspection button">150 Point Inspection</a>
				<a href data-ng-click="startInspection('gold')" class="primaryBtn gold-inspection button">300 Point Inspection</a>
				<h2>Start a New Inspection</h2>
			</div>
		</div>
	</div>
	<!-- reports in review -->
	<div data-ui-view="review" id="reviewContainer"></div>
</div>

<!-- ================== -->
<!-- INSPECTION SECTION -->
<div data-ng-show="$state.includes('inspection')">
	<!-- content -->
	<div id="inspectionWrapper" autoscroll="false">
		<div data-ui-view="content" role="main"></div>
	</div>
	<!-- navigation -->
	<div id="navigationWrapper" data-ng-controller="navigationCtrl" data-ng-show="$state.includes('inspection.report')">
		<ul>
			<li data-ng-repeat="link in navigationList.nav" data-ng-attr-id="{{link.linkID}}" data-ng-class="{{link.linkClass}}">
				<a href ui-sref="{{link.linkURL}}" ui-sref-active="active" data-ng-class="{{link.linkClass}}" class="mainLink">{{link.linkTitle}}</a>
				<ol>
					<li data-ng-repeat="sublink in link.subLinks" ui-sref-active="active">
						<a href ui-sref="{{sublink.linkURL}}" data-ng-class="{{sublink.linkClass}}">
							{{sublink.linkTitle}}
						</a>
					</li>
				</ol>
			</li>
		</ul>
	</div>
</div>