<!-- ============== -->
<!-- HEADER SECTION -->
<div data-ui-view="header" id="headerContainer"></div>

<!-- ================= -->
<!-- DASHBOARD SECTION -->
<div data-ng-show="$state.includes('dashboard')">
	<!-- vehicles: progress -->
	<div data-ui-view="progress" id="progressContainer"></div>

	<!-- mobile progress toggle -->
	<div id="mobileProgressToggle">
		<i class="fa fa-reorder"></i>
		Progress
	</div>
	<!-- mobile review toggle -->
	<div id="mobileReviewToggle">
		<i class="fa fa-reorder"></i>
		Review
	</div>

	<!-- main content -->
	<div class="viewWrapper" id="dashboardWrapper">
		<div class="contentWrapper">
			<div class="manheimLogoSprite"></div>
			<figure class="car">
				<img src="images/dashboard-car.png" alt="White Car" />
			</figure>
			<div id="dashboardBtnWrapper">
				<a href ui-sref="inspection.vehiclePath" class="redBtn addtlPadding">
					New Inspection
				</a>
			</div>
		</div>
	</div>
	<!-- vehicles: awaiting review -->
	<div data-ui-view="review" id="reviewContainer"></div>
</div>

<!-- ================== -->
<!-- INSPECTION SECTION -->
<div data-ng-show="$state.includes('inspection')">

	<!-- content -->
	<div id="inspectionWrapper" autoscroll="false">
		<div data-ui-view="content" role="main"></div>
	</div>

	<!-- navigation -->
	<div id="navigationWrapper" data-ng-controller="navigationCtrl" data-ng-show="$state.includes('inspection.report')">
		<ul>
			<li data-ng-repeat="link in navigationList.nav" data-ng-attr-id="{{link.linkID}}" data-ng-class="{{link.linkClass}}">
				<a href ui-sref="{{link.linkURL}}" ui-sref-active="active" data-ng-class="{{link.linkClass}}" class="mainLink">{{link.linkTitle}}</a>
				<ol>
					<li data-ng-repeat="sublink in link.subLinks" ui-sref-active="active">
						<a href ui-sref="{{sublink.linkURL}}" data-ng-class="{{sublink.linkClass}}">
							{{sublink.linkTitle}}
						</a>
					</li>
				</ol>
			</li>
		</ul>
	</div>
</div>