<!-- ================== -->
<!-- MANUAL VIN OVERLAY -->
<div id="manualVIN" modalWindow>
	<h4>Enter VIN</h4>
	<form data-ng-submit="submitForm()" class="inputWrapper" name="manualVinForm">
		<input type="text" name="form.vin1" ng-model="form.vin1" id="input1" class="inputs" tabindex="1" maxlength="1" input-focus />
		<input type="text" name="form.vin2" ng-model="form.vin2" id="input2" class="inputs" tabindex="2" maxlength="1" input-focus />
		<input type="text" name="form.vin3" ng-model="form.vin3" id="input3" class="inputs" tabindex="3" maxlength="1" input-focus />
		<input type="text" name="form.vin4" ng-model="form.vin4" id="input4" class="inputs" tabindex="4" maxlength="1" input-focus />
		<input type="text" name="form.vin5" ng-model="form.vin5" id="input5" class="inputs" tabindex="5" maxlength="1" input-focus />
		<input type="text" name="form.vin6" ng-model="form.vin6" id="input6" class="inputs" tabindex="6" maxlength="1" input-focus />
		<input type="text" name="form.vin7" ng-model="form.vin7" id="input7" class="inputs" tabindex="7" maxlength="1" input-focus />
		<input type="text" name="form.vin8" ng-model="form.vin8" id="input8" class="inputs" tabindex="8" maxlength="1" input-focus />
		<input type="text" name="form.vin9" ng-model="form.vin9" id="input9" class="inputs" tabindex="9" maxlength="1" input-focus />
		<input type="text" name="form.vin10" ng-model="form.vin10" id="input10" class="inputs" tabindex="10" maxlength="1" input-focus />
		<input type="text" name="form.vin11" ng-model="form.vin11" id="input11" class="inputs" tabindex="11" maxlength="1" input-focus />
		<input type="text" name="form.vin12" ng-model="form.vin12" id="input12" class="inputs" tabindex="12" maxlength="1" input-focus />
		<input type="text" name="form.vin13" ng-model="form.vin13" id="input13" class="inputs" tabindex="13" maxlength="1" input-focus />
		<input type="text" name="form.vin14" ng-model="form.vin14" id="input14" class="inputs" tabindex="14" maxlength="1" input-focus />
		<input type="text" name="form.vin15" ng-model="form.vin15" id="input15" class="inputs" tabindex="15" maxlength="1" input-focus />
		<input type="text" name="form.vin16" ng-model="form.vin16" id="input16" class="inputs" tabindex="16" maxlength="1" input-focus />
		<input type="text" name="form.vin17" ng-model="form.vin17" id="input17" class="inputs" tabindex="17" maxlength="1" input-focus />
		<div data-ng-hide="loading">
			<button type="button" data-ng-click="clearForm()" class="redBtn vinBtn">Clear</button>
			<button type="submit" class="redBtn vinBtn">Submit</button>
			<br>
			<p class="statusTxt">{{statusTxt}}</p>
		</div>
		<div data-ng-show="loading" id="vinLoading">
			<img src="images/loading.gif" alt="Loading" />
		</div>
		<span>{{formInfo}}</span>
	</form>
	<script>
		$(".inputs").keyup(function () {
		    if (this.value.length == this.maxLength) {
		      $(this).next('.inputs').focus();
		    }
		});
	</script>
</div>