<div class="viewWrapper" id="navigationWrapper">
	<ul>
		<li id="dealerVehicleInfo" ui-sref-active="active">
			<a href ui-sref="inspection.dealerVehicleInfo" class="mainLink">
				Dealer and Vehicle Info
			</a>
		</li>
		<li id="vehicleInterior" ng-class="{active: $state.includes('inspection.vehicleInterior')}">
			<a href ui-sref="inspection.vehicleInterior.frontInterior" class="mainLink">
				Interior of Vehicle
			</a>
			<ol>
				<li ui-sref-active="active">
					<a href ui-sref="inspection.vehicleInterior.frontInterior">
						2.1 Front Interior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleInterior.leftFrontInterior')}">
					<a href ui-sref="inspection.vehicleInterior.leftFrontInterior">
						2.2 Left Front Interior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleInterior.leftRearInterior')}">
					<a href ui-sref="inspection.vehicleInterior.leftRearInterior">
						2.3 Left Rear Interior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleInterior.rightRearInterior')}">
					<a href ui-sref="inspection.vehicleInterior.rightRearInterior">
						2.4 Right Rear Interior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleInterior.rightFrontInterior')}">
					<a href ui-sref="inspection.vehicleInterior.rightFrontInterior">
						2.5 Right Front Interior
					</a>
				</li>
			</ol>
		</li>
		<li id="vehicleExterior" ng-class="{active: $state.includes('inspection.vehicleExterior')}">
			<a href ui-sref="inspection.vehicleExterior.frontExterior" class="mainLink">
				Exterior of Vehicle
			</a>
			<ol>
				<li ui-sref-active="active">
					<a href ui-sref="inspection.vehicleExterior.frontExterior">
						3.1 Front Exterior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleExterior.leftFrontExterior')}">
					<a href ui-sref="inspection.vehicleExterior.leftFrontExterior">
						3.2 Left Front Exterior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleExterior.leftRearExterior')}">
					<a href ui-sref="inspection.vehicleExterior.leftRearExterior">
						3.3 Left Rear Exterior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleExterior.rightRearExterior')}">
					<a href ui-sref="inspection.vehicleExterior.rightRearExterior">
						3.4 Right Rear Exterior
					</a>
				</li>
				<li ng-class="{active: $state.includes('inspection.vehicleExterior.rightFrontExterior')}">
					<a href ui-sref="inspection.vehicleExterior.rightFrontExterior">
						3.5 Right Front Exterior
					</a>
				</li>
			</ol>
		</li>
		<li id="engineCompartment" ui-sref-active="active">
			<a href ui-sref="inspection.vehicleEngine" class="mainLink">
				Engine Compartment
			</a>
		</li>
		<li id="roadTest" ui-sref-active="active">
			<a href ui-sref="inspection.roadTest" class="mainLink">
				Road Test
			</a>
		</li>
		<li id="underVehicle" ui-sref-active="active">
			<a href ui-sref="inspection.underTheVehicle" class="mainLink">
				Under the Vehicle
			</a>
		</li>
		<li id="inspectionSummary" ui-sref-active="active">
			<a href ui-sref="inspection.summary" class="mainLink">
				Inspection Summary
			</a>
		</li>
	</ul>
</div>