<div class="viewWrapper" id="headerWrapper" data-ng-controller="headerCtrl">
	<h4 class="headerName" data-ng-show="$state.is('dashboard.content')">Welcome, {{userFirstName}}</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.vehiclePath')">Choose your inspection path</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.vinScanner')">VIN Scanner</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.report.dealerVehicleInfo')">Dealer and Vehicle Info</h4>
	<h4 class="headerName" data-ng-show="$state.includes('inspection.report.vehicleInterior')">Interior of Vehicle</h4>
	<h4 class="headerName" data-ng-show="$state.includes('inspection.report.vehicleExterior')">Exterior of Vehicle</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.report.vehicleEngine')">Engine Compartment</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.report.roadTest')">Road Test</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.report.underVehicle')">Under the Vehicle</h4>
	<h4 class="headerName" data-ng-show="$state.is('inspection.report.summary')">Inspection Summary</h4>
	<div class="cancelWrapper" data-ng-show="$state.is('inspection.vehiclePath')"><a href ui-sref="dashboard.content">Cancel</a></div>
	<div class="cancelWrapper" data-ng-show="$state.is('inspection.vinScanner')"><a href ui-sref="dashboard.content">Cancel</a></div>
	<div class="logoutWrapper" data-ng-show="$state.is('dashboard.content')"><a href ui-sref="login">Logout</a></div>
	<div class="logoutWrapper" data-ng-show="$state.includes('inspection.report')"><a href ui-sref="login">Save &amp; Quit</a></div>
	<a href ui-sref="inspection.report.dealerVehicleInfo" id="preCheckLink" data-ng-show="$state.includes('inspection.report.preCheck')">&#60; Dealer &amp; Vehicle Info</a>
	<br>
</div>
