<div id="infoOverlayModal">
	<!-- ============== -->
	<!-- DYNAMIC HEADER -->
	<div class="modalHeader">
		<div class="ng-modal-close" data-ng-click="cancel()">Cancel</div>
		<h4>Information</h4>
		<div class="ng-modal-submit" data-ng-click="submit()">Submit</div>
	</div>
	<!-- ======= -->
	<!-- CONTENT -->
	<div class="overlayContent">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend varius sem, nec ullamcorper mauris interdum ac. Praesent sed finibus leo, non rhoncus est. In ut sapien mattis, dapibus dolor quis, dapibus purus.</p>
		<p>{{text}}</p>
	</div>
</div>