<div id="productOverlayModal">
	<!-- ============================ -->
	<!-- LIST/SUMMARY VIEW TOP HEADER -->
	<div class="modalHeader" data-ng-show="listMenu || summaryMenu">
		<ul class="top-navigation">
			<li class="list" data-ng-class="listMenu ? 'active' : 'inactive'">
				<div data-ng-click="toggleList()">
					List
				</div>
			</li>
			<li class="summary" data-ng-class="summaryMenu ? 'active' : 'inactive'">
				<div data-ng-click="toggleSummary()">
					Summary
				</div>
			</li>
		</ul>
	</div>
	<!-- =========================== -->
	<!-- SELECTED PRODUCT TOP HEADER -->
	<div class="modalHeader" data-ng-show="selectedProduct">
		<div class="back-button" data-ng-click="backToProductList()">
			<i class="fa fa-angle-left"></i>
			<p>Back</p>
		</div>
		<h4>{{selected.description}}</h4>
	</div>
	<!-- ================= -->
	<!-- ORDERS TOP HEADER -->
	<div class="modalHeader" data-ng-show="productOrders">
		<div class="back-button" data-ng-click="backToProductList()">
			<i class="fa fa-angle-left"></i>
			<p>Back</p>
		</div>
		<h4>Order List</h4>
	</div>
	<!-- ======================== -->
	<!-- ORDER DETAILS TOP HEADER -->
	<div class="modalHeader" data-ng-show="orderDetails">
		<div class="back-button" data-ng-click="backToOrderList()">
			<i class="fa fa-angle-left"></i>
			<p>Back</p>
		</div>
		<h4>Order Details</h4>
	</div>
	<!-- ======= -->
	<!-- CONTENT -->
	<div class="overlayContent">
		<!-- ......... -->
		<!-- list view -->
		<ul data-ng-show="listMenu" class="list-view">
			<li data-ng-repeat="product in productList">
				<figure class="product-image">
					<img data-ng-src="{{product.imagePath}}" alt="{{product.description}}" /> 
				</figure>
				<div class="description">
					<h4>{{product.description}}</h4>
					<p>{{product.id}}</p>
					<p class="strong">Weight:</p>
					<p>{{product.weight}}</p>
					<p><span class="strong">{{product.location}}</span>&nbsp;&#62;&nbsp;{{product.category}}</p>
				</div>
				<div class="product-details" data-ng-click="selectProduct(product)">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</ul>
		<!-- ............ -->
		<!-- summary view -->
		<ul data-ng-show="summaryMenu" class="summary-view">
			<li data-ng-repeat="product in productList">
				<div class="description">
					<p>{{product.description}}</p>
					<p><span class="strong">Part Number:</span>{{product.id}}</p>
					<p><span class="strong">Weight:</span>&nbsp;{{product.weight}}</p>
					<p><span class="strong">{{product.location}}</span>&nbsp;&#62;&nbsp;{{product.category}}</p>
				</div>
				<div class="product-details" data-ng-click="selectProduct(product)">
					<i class="fa fa-angle-right"></i>
				</div>
			</li>
		</ul>
		<!-- ..................... -->
		<!-- selected product view -->
		<div data-ng-show="selectedProduct" class="selected-view">
			<figure class="selected-product-image">
				<img data-ng-src="{{selected.imagePath}}" alt="{{selected.description}}" /> 
			</figure>
			<div class="description">
				<h4>{{selected.description}}</h4>
				<table>
					<thead>
						<tr>
							<th>Product</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Part Number
							<td>{{selected.id}}</td>
						</tr>
						<tr>
							<td>Weight</td>
							<td>{{selected.weight}}</td>
						</tr>
						<tr>
							<td>Price</td>
							<td>{{selected.price | currency}}</td>
						</tr>
						<tr>
							<td>Type</td>
							<td>{{selected.type}}</td>
						</tr>
						<tr>
							<td>Category</td>
							<td>{{selected.category}}</td>
						</tr>
						<tr>
							<td>Location</td>
							<td>{{selected.location}}</td>
						</tr>
					</tbody>
				</table>
				<div id="quantity-container">
					<p class="strong">Quantity</p>
					<input type="text" data-ng-value="quantity" class="quantity-input" disabled />
					<div class="quantity-button" data-ng-click="increment()">
						<i class="fa fa-arrow-up"></i>
					</div>
					<div class="quantity-button" data-ng-click="decrement()">
						<i class="fa fa-arrow-down"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- ................ -->
		<!-- orders list view -->
		<div data-ng-show="productOrders" class="search-container">
			<div class="search-box">
				<label for="searchBox">
					<i class="fa fa-search"></i>
				</label>
				<input type="search" id="searchBox" placeholder="Search" data-ng-model="search.name">
			</div>
			<div>
				<ul id="product-list">
					<li data-ng-repeat="order in ordersList | filter:search:strict">
						<span class="strong">{{order.id}}</span><br>
						<p>{{order.name}}</p>
						<p>{{order.transit}}</p>
						<span class="status" data-ng-class="order.statusClass">{{order.status}}</span>
						<span class="last-updated">{{order.lastUpdated}}</span>
						<div class="order-details" data-ng-click="getOrderDetails(order.items)">
							<i class="fa fa-angle-right"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- ................... -->
		<!-- orders details view -->
		<div data-ng-show="orderDetails" id="order-details-list">
			<div>
				<ul id="product-details-list">
					<li data-ng-repeat="item in itemDetails">
						<p><span class="strong">Product Name:</span> {{item.description}}</p>
						<p><span class="strong">Product ID:</span> {{item.id}}</p>
						<p><span class="strong">Product Price:</span> {{item.price | currency}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ============== -->
	<!-- DYNAMIC FOOTER -->
	<div class="modalFooter">
		<ul class="product-footer" data-ng-hide="orderDetails">
			<!-- ................... -->
			<!-- pick icon: inactive -->
			<li data-ng-show="quantity == 0">
				<figure>
					<img src="images/product-pick-disabled.png" alt="Select Product" />
				</figure>
				<figcaption>Pick</figcaption>
			</li>
			<!-- ................. -->
			<!-- pick icon: active -->
			<li data-ng-show="quantity != 0" data-ng-click="addItem(selected.description,selected.price,quantity,selected.id)">
				<figure>
					<img src="images/product-pick-enabled.png" alt="Select Product" />
				</figure>
				<figcaption>Pick</figcaption>
			</li>
			<!-- ..................... -->
			<!-- orders icon: inactive -->
			<li data-ng-click="showOrders()" data-ng-hide="productOrders">
				<figure>
					<img src="images/product-orders-inactive.png" alt="List of Orders" />
				</figure>
				<figcaption>Orders</figcaption>
			</li>
			<!-- ................... -->
			<!-- orders icon: active -->
			<li data-ng-show="productOrders">
				<figure>
					<img src="images/product-orders-active.png" alt="List of Orders" />
				</figure>
				<figcaption class="orders-active">Orders</figcaption>
			</li>
		</ul>
		<ul class="footer-details" data-ng-show="orderDetails">
			<!-- ............. -->
			<!-- order details -->
			<li>
				<div class="order-details-footer">
					<span class="strong">Order Total:</span>&nbsp;{{getTotal() | currency}}
				</div>
			</li>
		</ul>
	</div>
</div>