<!-- ===================== -->
<!-- MAIN DASHBOARD WINDOW -->
<div class="viewWrapper" id="inspectionPathWrapper">
	<ul>
		<li class="topLI">
			<span class="strong">Select an option to continue</span>
			<!-- button was previously anchor tag: ui-sref="inspection.vinScanner({vehicleId:'crossover'})" -->
			<button type="button" data-ng-click="nextStep(inspectionPath)" class="disableBtn" data-ng-model="button" data-ng-disabled="!(inspectionPath)" data-ng-class="continueBtn">
				Continue
			</button>
		</li>
		<li>
			<!-- ................. -->
			<!-- bronze inspection -->
			<label>
				<input type="radio" name="inspection" value="bronze" data-ng-model="inspectionPath" data-ng-click="continueBtn='enableBtn'" />
				<div class="iconWrapper">
					<span class="bronzeBtn"></span>
					<p>Bronze</p>
				</div>
			</label>
		</li>
		<li>
			<!-- ................. -->
			<!-- silver inspection -->
			<label>
				<input type="radio" name="inspection" value="silver" data-ng-model="inspectionPath" data-ng-click="continueBtn='enableBtn'" />
				<div class="iconWrapper">
					<span class="silverBtn"></span>
					<p>Silver</p>
				</div>
			</label>
		</li>
		<li>
			<!-- ............... -->
			<!-- gold inspection -->
			<label>
				<input type="radio" name="inspection" value="gold" data-ng-model="inspectionPath" data-ng-click="continueBtn='enableBtn'" />
				<div class="iconWrapper">
					<span class="goldBtn"></span>
					<p>Gold</p>
				</div>
			</label>
		</li>
	</ul>
</div>